@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
        padding: .2em 1em;
        background-color: #f9ece3a3;
        border: 3px solid #F9ECE3;
        border-radius: 25px;
        font-size: 1.1em;
    }

    .active{
        background-color: #FF4649;
        border: none;
        color: #F9ECE3;
        transition: .25s linear;
    }

    .active::after{
        content: " ●";
    }

    .active:hover{
         background-color: #d22c2f;
    }

    .nav-link{
        color: #d22c2f;
        font-style: italic;
        border-bottom: 3px solid #d22c2f;
        cursor: pointer;
        transition: .25s linear;
    }

    .popout{
        width:100%
    }
}
